<form id="delete-account-form" action="/users/{{id}}" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <p>Are you sure you want to delete your account?</p>
  <button type="submit">Delete Account</button>
</form>

<script src="/javascripts/account-delete.js"></script>