<section class="editpost">
  <div class="modal-top">
      <a href="/dashboard"> &larr; Back to Dashboard</a>
      <h2>
        Edit Your Post
      </h2>
    </div>

  <form class="edit-post-form">
    <section class="modal-form">
      <div class="modal-sections" id="m-title">
        <label for="post-title">Edit Title</label>
        <input type="text" name="post-title" value="{{post.title}}" />
      </div>
      <div class="modal-sections" id="m-label">
        <label for="post-content">Edit Content</label>
        <textarea name="post-content">{{post.post_content}}</textarea>
      </div>
      <button type="submit" class="btn">Save Updated Post</button>
      <button type="btn" class="delete-post-btn">Delete Post</button>
    </section>

  </form>
</section>

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascripts/edit-post.js"></script>
<script src="/javascripts/delete-post.js"></script>
<script src="/javascripts/comment.js"></script>
{{/if}}