
{{#each categories as |category|}}
<h3>{{category.category_name}} ({{category.posts.length}})</h3>
{{/each}}
<ol class="post-list">
  {{#each posts as |post|}}

  <li>
    {{> post-info-homepage post }}
  </li>
  {{/each}}
</ol>