<form class="signup-form">
  <div>
    <!-- <label for="username-signup">username:</label> -->
    <input type="text" id="username-signup" placeholder="USERNAME"/>
  </div>
  <div>
    <!-- <label for="email-signup">email:</label> -->
    <input type="text" id="email-signup" placeholder="EMAIL"/>
  </div>
  <div>
    <!-- <label for="password-signup">password:</label> -->
    <input type="password" id="password-signup" placeholder="PASSWORD"/>
  </div>
  <div>
    <button type="submit" class="btn">SIGNUP</button>
  </div>
</form>

<script src="/javascripts/signup.js"></script>