/* Import Roboto from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
    --darkgray: #343638;
    --gray: #474350;
    --lightgray: #AAA;
    --wheat: #EFD6AC;
    --lightblue: #66C3FF;
    --darkblue: #0b77be;
    --red: #E83151;
    --green: #598B2C;
    --firered: #f50713;
    --purple: #730dd9;
    --pink: #dd14f7;
  }

body {
    border-color: var(--lightgray);
    color: var(--wheat);
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: normal;
    background-color: var(--darkgray);
    
}
a:-webkit-any-link {
    background-color: var(--darkgray);
    color: var(--wheat);
    cursor: pointer;
    text-decoration: none;
    display: inherit;
}

h1 {
    margin: 25px 0;
    text-align: center;
    background-color: var(--darkblue);
}

.login-form {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0;
    padding: 1rem;
}

.signup-form {
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    justify-content: space-evenly;
    background-color: var(--darkgray);
    color: var(--wheat);
}

footer {
    position: sticky;
    width: auto;
    background-color: var(--darkgray);
    color: var(--wheat);
    margin-top: 0;
    padding: 0.5vh;
}



/* Universal selector */
/* * {
    box-sizing: border-box;
    font-family: Roboto;
} */

/* ul, ol {
    justify-content: center;
} */

/* li > a {
    color: var(--lightblue);
    justify-content: space-evenly;
}

body {
    background-color: var(--lightgray);
}


p {
    text-align: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav > ul > li > a {
    color: var(--darkblue);
    text-decoration: none;
}

main section {
    background-color: var(--gray);
    border-radius: 20px;
}

li a img, li a span {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1vh;
}





a:link {
    justify-content: center;
    text-align: center;
    
}



/* .a {
    justify-content: center;
} */

/* h2, h3, h4, h5, h6 {

}

/* a {
    justify-content: center;
} */



button {
    width: 100px;
    appearance: auto;
    text-rendering: auto;
    color: var(--wheat);
    text-indent: 1px;
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--gray);
    margin: .5em;
    padding: 3px 10px;
    border-width: 2px;
    border-style: outset;
    border-radius: 5px;
    justify-content: center;
    
}

input#email-login {
    text-align: center;
    width: 250px;
    height: 25px;
    margin: 0em;
    padding: 3px 10px;
    border-width: 2px;
    border-radius: 5px;
}

input#password-login {
    text-align: center;
    width: 250px;
    height: 25px;
    margin: 0em;
    padding: 3px 10px;
    border-width: 2px;
    border-radius: 5px;
}

input#username-signup {
    text-align: center;
    width: 250px;
    height: 25px;
    margin: 0em;
    padding: 3px 10px;
    border-width: 2px;
    border-radius: 5px;
}

input#email-signup {
    text-align: center;
    width: 250px;
    height: 25px;
    margin: 0em;
    padding: 3px 10px;
    border-width: 2px;
    border-radius: 5px;
}

input#password-signup {
    text-align: center;
    width: 250px;
    height: 25px;
    margin: 0em;
    padding: 3px 10px;
    border-width: 2px;
    border-radius: 5px;
}

#text {
    justify-content: center;
    color: var(--wheat);


}
.a {
    justify-content: center;
}

nav {
    display: inline;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
    color: var(--gray);
}

form {
    display: flex;
    margin-top: 0em;
    margin-block-end: 1em;
    justify-content: center;
    margin-top: 60px;
}
div {
    display: inline;
    align-items: center;
}


/*modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: block;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/*Styling for post and comment view*/
  .comments {
    position: relative;
    left: 45px;
    padding: 10px;
  }

  .comment {
    padding: 10px;
    padding: 10px;
    border: black dashed 2px;
    margin: 15px;
  }

  #post-title {
    font-size: xx-large;
  }

  .post {
    border: black solid 2px;
    margin-top: 30px;
  }

  #post-content {
    font-size: larger;
  }

  h4 {
    margin: 0;
  }